:root {
  --background-color: black;
  --text-color: white;
  --text-detail: red;
  --text-nav: black;
  --text-nav-detail: rgb(32, 32, 32);
  --background-color2: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

/* Loader */

.loader-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
  transition: all 0.5s linear;
}

.loader {
  display: block;
  width: 50px;
  height: 50px;
  animation: Spin 5s linear infinite;
  border: 10px solid black;
  border-top-color: var(--background-color);
  border-left-color: var(--text-detail);
  border-block-color: var(--background-color);
  border-right-color: var(--text-detail);
  border-radius: 100%;
}

.loader-container.hide {
  /* display: none; */
  /* width: 0px;
  height: 0px; */
  top: -150%;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Theme */

.theme {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -150%;
  background-color: var(--text-detail);
  /* border-bottom: solid var(--text-detail) 10px; */
  color: var(--backgound-color);
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  transition: all 0.3s linear;
}

.theme.active {
  top: 0;
}

.theme-head {
  color: var(--background-color);
  font-size: 40px;
  transition: all 0.3s linear;
}

.colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1%; */
  width: 100px;
  height: 100px;
  margin: 5%;
  border: solid var(--background-color) 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.aqua {
  background-color: aqua;
}

.yellow {
  background-color: yellow;
}

.lime {
  background-color: lime;
}

.violet {
  background-color: violet;
}

.deeppink {
  background-color: deeppink;
}

/* navbar */

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: var(--text-detail);
  position: fixed;
  top: -150%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 15px;
  transition: all 0.3s linear;
  z-index: 900;
}

.navbar-links.active {
  top: 0;
}

.navbar-button {
  z-index: 200;
  font-size: 30px;
  font-weight: 1000;
  background: none;
  border: none;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--text-color);
  transition: all 0.3s linear;
}

.navbar-button:hover {
  background-color: var(--background-color2);
  color: var(--text-detail);
}

.navbar-anchor {
  color: var(--text-nav);
  text-decoration: none;
  padding: 10px;
  font-weight: normal;
  transition: all 0.3s linear;
}

.navbar-anchor:hover {
  color: var(--text-nav-detail);
  font-weight: bold;
}

@media (max-width: 600px) {
  .navbar-button {
    font-size: 20px;
  }
}

@media (max-height: 900px) {
  .navbar-button {
    font-size: 20px;
  }
}
