:root {
  --background-color: white;
  --text-color: black;
  --text-detail: navy;
  --text-nav: white;
  --text-nav-detail: black;
  --background-color2: rgb(228, 228, 228);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

/* Theme */

body.Dark-Theme {
  --background-color: black;
  --text-color: white;
  --text-detail: red;
  --text-nav: black;
  --text-nav-detail: white;
  --background-color2: rgb(32, 32, 32);
}

/* navbar */

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: var(--text-detail);
  position: fixed;
  top: -100%;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  transition: all 0.3s linear;
  z-index: 900;
}

.navbar-links.active {
  top: 0;
}

.navbar-button {
  z-index: 200;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  color: var(--text-detail);
  transition: all 0.3s linear;
}

.navbar-button:hover {
  background-color: var(--background-color2);
  color: var(--text-color);
}

.navbar-anchor {
  color: var(--text-nav);
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s linear;
}

.navbar-anchor:hover {
  color: var(--text-nav-detail);
}

@media (max-width: 600px) {
  .navbar-button {
    font-size: 20px;
  }
}
